.sortableWrapper {
    display: flex;
    width: 700px;
    height: 756px;
    /* border: 1px solid #000; */
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    padding: 35px 40px;
}

.sortable {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* gap: 10px; */
}

.sortable_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
    border-bottom: 2px solid #EBEFF3;
    cursor: grab;
}

.sortable_item:last-child {
    border-bottom: none;
}

.toggle_filter_active,
.toggle_filter_deactivate {
    --toggle-track-width: 70px;
    --toggle-track-padding: 5px;
    --toggle-knob-size: 30px;
    box-sizing: border-box;
    padding: var(--toggle-track-padding);
    width: var(--toggle-track-width);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.toggle_filter_active {
    background-color: #007BFF;
}

.toggle_filter_deactivate {
    background-color: #B1BDC8;
}

.toggle_knob {
    width: var(--toggle-knob-size);
    height: var(--toggle-knob-size);
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
}

.toggle_filter_deactivate .toggle_knob {
    transform: translateX(calc(var(--toggle-track-width) - (var(--toggle-track-padding) * 2) - var(--toggle-knob-size)));
}